* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background: url("/resources/hero4.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  max-height: auto;
}

.header {
  height: 5rem;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: pink;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color: pink;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: flex;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* The hero image */
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Place text in the middle of the image */
.inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
  margin-top: 40px;
  text-align: center;
}

h1 {
  font-size: 5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 1em;
}


h2 {
  margin-top: 25px;
  font-size: 3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 800;
  color: pink;
}

button {
  font-size: 1.3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-flexbox;
  align-self: center;
  float: bottom;
  margin: 60px;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: white;
  border: 4px solid pink;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

.btn:hover, .btn:active {
  background-color: #fff;
  color: pink;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

@media only screen and (max-width: 920px) {
  .inner-container {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 540px) {
  .inner-container {
    margin-top: 150px;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 1.4em;
  }
}

